  <script setup>
  import { RouterView } from 'vue-router';

  </script>

  <template>
    <main class="main-content">
      <RouterView />
    </main>
  </template>
  

  <style scoped>
    .main-content{
        padding: 25px 5% 0 5%;
    }
  </style>
  