<script setup>

const props = defineProps({
  note: {
    type: String,
    required: true
  }
})

const emit = defineEmits(['category-filter'])
function filterbyCategory(e) {
   emit("category-filter", e.target.value)
 }

</script>  

<template>
  <button @click="filterbyCategory" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" :value="props.note">
        {{ props.note }}
    </button>
</template>

<style scoped>
.categories{
    background-color: #791bf2;
}
</style>
