<script setup>

import {ref, computed} from 'vue'
import { useNotesStore } from '@/stores/notes'
import { useRoute } from 'vue-router';
import router from '@/router';


const note = ref({
  id: '',
  title: '',
  content: '',
  category: ''
})

const store = useNotesStore()
store.fetchNotes()
const notes = computed(() => store.notes)
const route = useRoute()
note.value = store.getNoteById(route.params.id)

function getFilteredCategories(array) { 
return Array.from(new Set(array.map(t => t['category'])))
} 
const categories = getFilteredCategories(notes.value)


function submit() {
  store.updateNote(route.params.id, note.value)
  router.push('/all-notes')
}

</script>
<template>
     <div class="p-4 border rounded shadow-lg">
    <form @submit.prevent="submit">
      <h2 class="mt-1 mb-3">Add Note</h2>  
      <div class="mb-4">
        <label for="title" class="block text-gray-700 text-sm font-bold mb-2">Title</label>
        <input
          id="title"
          type="text"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          v-model="note.title"
        />
      </div>
      <div class="mb-4">
        <label for="content" class="block text-gray-700 text-sm font-bold mb-2">Content</label>
        <textarea
          id="content"
          type="text"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          v-model="note.content"
          rows="4"
        ></textarea>
      </div>
      
       <div class="mb-4">
        <label for="category" class="block text-gray-700 text-sm font-bold mb-2">Category</label>
            <select v-model="note.category" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" >
                    <option v-for="category in categories" :key="category" :value="category" > {{ category }}</option>
            </select>
       </div>
     
      <button class="bg-green-500 text-white font-bold py-2 px-4 rounded hover:bg-green-600">
        save
      </button>
    </form>
  </div>
</template>
<style scoped></style>