<script setup>
import { computed, ref } from 'vue'
import NoteItem from './NoteItem.vue'
import CategoryItem from './CategoryItem.vue';
import { useNotesStore } from '@/stores/notes'

const store = useNotesStore()
store.fetchNotes()
const notes = computed(() => store.notes)

  function getFilteredCategories(array) { 
    return Array.from(new Set(array.map(t => t['category'])))
  } 
  const newfilteredArray = getFilteredCategories(notes.value)  
  const filteredNotes = ref([])
  filteredNotes.value = notes.value
  function filterByCategory(category) {
  filteredNotes.value = category ? notes.value.filter(t => t['category'] === category) : filteredNotes.value = notes.value
}


</script> 

<template>
  <div class="grid grid-cols-5 gap-5 mb-5 " >
    <CategoryItem class="space-y-4" v-for="note in newfilteredArray" :key="note" :note="note" @category-filter="filterByCategory" />
  </div>
  <div class="grid grid-cols-4 gap-4" >
    <NoteItem class="space-y-4" v-for="note in filteredNotes" :key="note.id" :note="note" />
  </div>
</template>

<style scoped></style>
