<script setup>
import router from '@/router';
import { useNotesStore } from '@/stores/notes';

const { note } = defineProps({
  note: {
    type: Object,
    required: true
  }
})

const store = useNotesStore()

function deleteNote(e) {
  store.deleteNote(e.target.value)
}

function editNote(e) {
  router.push('/note/'+ e.target.value)
}

//TODO: add logic of edit and Delete
</script>

<template>
  <div class="p-4 border rounded shadow-sm">
    <h3 class="text-lg font-semibold">{{ note.title }} 
      <span class="inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10">
        {{ note.category }}
      </span>
    </h3>
    <p class="text-gray-700">{{ note.content }}</p>
    <div class="mt-4 flex space-x-2">
      <button  @click="editNote" :value="note.id" class="bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600">Edit</button>
      <button @click="deleteNote" :value="note.id" class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600">Delete</button>
    </div>
  </div>
</template>

<style scoped></style>
