<script setup>
import Header from './views/Header.vue';
import Body from './views/Body.vue';
</script>

<template>

<div>
  <Header></Header>
  <Body></Body> 
</div>
 

</template>

<style scoped></style>
